{% extends "base.html" %}

{% block title %}MTQQC-device{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='jquery/jquery.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/deviceInfo.js') }}"></script>
{% endblock %}

{% block opt %}
    <div class="row" style="margin-top: 37px;">
     <div class="btn-group btn-group-justified" role="group" aria-label="...">
		  <div class="btn-group" role="group">
		    <a class="btn btn-outline-primary" href="{{ url_for('ps.device_add') }}">添加设备</a>
		  </div>
		  <div class="btn-group" role="group">
		    <a class="btn btn-primary" href="{{ url_for('ps.device_update') }}">更新设备</a>
		  </div>
		  <div class="btn-group" role="group">
		    <a class="btn btn-outline-primary" href="{{ url_for('ps.device_delete') }}">删除设备</a>
		  </div>
		</div>
    </div>
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 37px;">
    <div class="col-10">
                <form method="post">
				<div class="form-group">
				    <small id="deviceHelp" class="form-text text-muted">当前设备名:</small>
				    <div class="input-group">
				        <input type="text" class="form-control" name="original_name" placeholder="请输入当前设备名">
				        <div class="input-group-append">
				            <button class="btn btn-outline-secondary" type="button" id="deviceInfo-btn">查询设备信息</button>
				        </div>
				    </div>
				</div>
                <small id="deviceHelp" class="form-text text-muted">设备所在工厂:</small>
                <div class="form-group">
				<input class="form-control" list="sites" name="factoryName" id="site" placeholder="请更新设备所在工厂">
				<datalist id="sites">
				    {% for factory in factorys %}
                        <option value={{ factory.name }}>
                    {% endfor %}
				</datalist>
                </div>
				<small id="deviceHelp" class="form-text text-muted">设备名:</small>
					<div class="form-group">
					    <input type="text" name="name" class="form-control" placeholder="请输入新设备名">
					</div>
				<small id="deviceHelp" class="form-text text-muted">设备类型:</small>
                    <div class="form-group">
                        <input type="text" name="type" class="form-control" placeholder="请输入新设备类型">
                    </div>
				<small id="deviceHelp" class="form-text text-muted">设备描述:</small>
					<div class="form-group">
					    <input type="text" name="description" class="form-control" placeholder="请输入新设备描述">
					</div>
                <div calss="divider"></div>
                <small id="deviceHelp" class="form-text text-muted">注意: 需要设备在线且开机才能对设备进行操作!</small>
                <div calss="divider"></div>
                <small id="deviceHelp" class="form-text text-muted">在线状态:</small>
					<div class="form-group">
                    <input class="form-control" list="sites1" name="is_online" id="site1" placeholder="请更新设备在线状态">
                    <datalist id="sites1">
                        <option value="离线">
                        <option value="在线">
                    </datalist>
                    </div>
                <small id="deviceHelp" class="form-text text-muted">开机状态:</small>
					<div class="form-group">
				<input class="form-control" list="sites2" name="now_status" id="site2" placeholder="请更新设备开机状态">
				<datalist id="sites2">
                    <option value="关机">
                    <option value="开机">
				</datalist>
                </div>
                    <div class="form-group" style="text-align: right;">
                        <button class="btn btn-primary">更新</button>
                    </div>
                </form>
            </div>
    </div>
{% endblock %}