{% extends "base.html" %}

{% block title %}MTQQC-home{% endblock %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">{% endblock %}

{% block body %}
<div class="row" style="margin-top: 20px;">
            <div class="col"></div>
            <div class="col-10">
                <ul class="device-ul">
                    {% for device in devices %}
                    <li>
                        <div class="side-device">
                            <img class="side-device-avatar" src="./static/images/avatar.jpg" alt="">
                        </div>
                        <div class="device-main">
                            <div class="device-name"><a href="#">{{device.name}}</a></div>
                            <div class="device-message">设备所属工厂 : {{ device.factory.name }}</div>
                            <div class="device-status">在线状态 : {% if device.is_online%}在线{% else %}离线{% endif %}</div>
							<div class="device-message">开机状态 : {% if device.now_status%}开机{% else %}关机{% endif %}</div>
							<span class="update-time">设备状态更新时间 : {{ device.update_time }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col"></div>
        </div>
{% endblock %}